/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.form{
  display: flex;
  justify-content: center;
  gap: 8px;
}


#pictures{
  border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
}

button{
  border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
   

    border: none;
    background-color: #4e75ff;

    font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
}